@import "../scss/base/_generales";
@import "../scss/components/_footer";
@import "../scss/components/_header";
@import "../scss/components/_main";
@import "../scss/components/_body";
@import "../scss/base/_mq";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Smooch Sans", serif;
    color: antiquewhite;
    list-style-type: none;
}