$text-color: antiquewhite;
$border-color: rgba(168, 166, 163, 0.404);
$card-color: rgba(206, 200, 200, 0.469);


a {
    text-decoration: none;
    color: $text-color;
}

p{
    color: black;
    font-size: 0.9vw;
}