$text-color: antiquewhite;
$border-color: rgba(168, 166, 163, 0.404);
$card-color: rgba(206, 200, 200, 0.469);
$details-color: rgba(157, 240, 23, 0.904);
$stars-color: rgba(156, 72, 205, 0.866);

a {
    text-decoration: none;
    color: $text-color;
}

p{
    color: black;
    font-size: 0.9vw;
}